.search-content {
    width: 93%;
}

.search-content__title {
    padding: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: 'Kaushan Script', cursive;
}

.food {
    list-style: none;
    position: relative;
    padding: 0 0.2rem;
    text-align: center;
    margin: 0 0.3rem 0.7rem 0.2rem;
    background: #cebcbcd1;
    float: left;
    width: 44%;
    border-radius: 0.2rem;
    cursor: pointer;
    overflow: hidden;
    height: 34vh;
} 

.food:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.food__name {
    margin: 1rem auto;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.food__img {
    margin: 1.2rem 0.2rem 0.3rem;
}

@media (max-width : 992px) {
    .food__img {
        margin: 1rem 0.2rem 0;
    }
}

@media (max-width : 480px) {
    .food {
        width: 93%;
        margin-left: -0.6rem;
    }
    .food__name {
        margin: 1rem auto;
    }
}