@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$OleoScript: 'Oleo Script';
$Oswald: 'Oswald';
$Roboto: 'Roboto Slab';
